.wrapperClass{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.wrapperClass1 {
    display: flex;
    flex-direction: column;
 
  }

.boxClass{
    display: flex;
   
}
.box{
    border: 3px solid black;
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.winnerClass{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.redText{
    font-size: 50px;
    font-weight: bold;
    color: red;
}

.blueText{
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.resetBtn{
    margin-top: 10px;
    background-color: #6249fe;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.greenTxt {
    color: green;
}

.yellowTxt{
    color: orange;
}

.scoreDiv p{
    font-size: 25px;
}
